<div class="masthead">
	<div class="ui responsive grid">
		<div class="column">
	      <div class="introduction">
	        <h1 class="ui header">Panpan<span class="ui black label">Pre-release</span></h1>
	        <h2 class="ui header">Personal board to share with other people around the web.</h2>
	        <p>Panpan let you organized task, appointment and let's people.</p>
	        <% if not user_signed_in? %>
				<%= link_to new_user_session_path, :title => "Sign In", :class => "ui facebook button" do %>
					<i class="facebook icon"></i>
					Sign In
				<% end %>
				<%= link_to new_user_registration_path, :title => "Sign Up", :class => "ui twitter button" do %>
					<i class="twitter icon"></i>
					Sign Up
				<% end %>
			<% end %>
	      </div>
	    </div>
	 </div>
</div>